/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
// google fontの導入
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Oswald&family=Ubuntu&display=swap');

title {
  font-family: 'Ubuntu', sans-serif;
}
.logo_box {
  position: relative;
}
.logo_top {
  font-size: 100px;
  color: white;
  position: absolute;
  top: 40%;
  left: 35%;
  z-index: 20;
  text-shadow: 7px 7px 0 #c3a400;
}
.logo_sub {
  color: white;
  position: absolute;
  top: 56%;
  left: 40%;
  z-index: 20;
  text-shadow: 1px 1px 0 #c3a400;
}
.menu_logo {
  font-size: 32px;
}
.menu_logo:hover {
  color: #d4d3de;
}
.logo,
footer {
  font-family: 'Ubuntu', sans-serif;
}
.navbar {
  height: 0;
  padding: 0;
}
// 各ページ項目のデザイン
.gnavi a{
    /*テキストの基点とするためrelativeを指定*/
  position: relative;
    /*はみ出る要素を隠す*/
  overflow: hidden;
  padding:10px 60px;
}

.gnavi span{
    /*絶対配置でテキストの位置を決める*/
  position: absolute;
  left: 50%;
  top:0;
    /*アニメーションの指定*/
  transition: all .5s;
  transform: translate(-50%, 0);/*X方向に-50% ※中央寄せにするため*/
  /*ブロック要素にして透過なし、テキスト折り返しなし*/
  display: block;
  opacity:1;
  white-space: nowrap;
}

/*差し替わるテキストの設定*/
.gnavi span:nth-child(2){
  opacity:0;/*透過0に*/
    transform: translate(-50%,100%);/*X方向に-50% Y方向に100%*/
}

/*hoverするとテキストが入れ替わる設定*/
.gnavi:hover span:nth-child(1){
  opacity:0;/*透過0に*/
    transform: translate(-50%,-100%);/*X方向に-50% Y方向に-100%*/
}

.gnavi:hover span:nth-child(2){
  opacity:1;/*不透明に*/
  transform: translate(-50%, 0);/*X方向に-50% Y方向に0*/
}
// 各ページ項目のデザインここまで
main {
  font-family: 'Noto Sans JP', sans-serif;
}
#how_to_use {
  margin-bottom: 120px;
}
//いいねの赤いハート
.heart_red{color:#e54747;}
//いいねしていない状態
.heart_none{color:#808080;}
//お気に入り済
.bookmark_done{color:#444;}
//お気に入りしていない状態
.bookmark_notyet{color:#808080;}
// スライドショーのため
#screenbox{
  height: 788px;
  // position: static;
}
.screenimage1 {
  background-image: image-url("pexels-lucas-pezeta-2398354.jpg");
}
.screenimage2 {
  background-image: image-url("pexels-kyle-loftus-3045400.jpg");
}
.screenimage3 {
  background-image: image-url("pexels-adrien-olichon-3709370.jpg");
}
.top_btn_box {
  // height: 200px;
}
.emphasis {
  background: linear-gradient( transparent 70%, #c3a400 70% );
}
// aboutページの分割
.split-box{
	position: absolute;
	width: 75%;
	height: 100%;
}
.left-box {
	left: 0;
}
.right-box {
	right: 0;
	border-left: 1px solid #22202f;
	overflow-y: scroll;
}
// aboutページのデザイン
.about_logo {
  color: #c3a400;
}
.about_pic {
  position: relative;
  width: 200px;
  height: 200px;
}
.about_img {
  position: relative;
  // box-shadow: 50px 50px 0 #c3a400;
  width: 200px;
  height: 200px;
}
.about_img::before,
.about_img::after {
  content: '';
  position: absolute;
  transform: rotate(-35deg);
  width: 70px;
  height: 25px;
  background-color: #2d2c38;
  z-index: 1;
}
.about_img::before{
  top: 42px;
  left: -25px;
  border-bottom: 1px solid #aaa;
}
.about_img::after {
  bottom: -55px;
  right: -25px;
  border-top: 1px solid #aaa;
}
.about_name_box {
  margin-top: 220px;
}
.about_name {
  font-family: 'Ubuntu', sans-serif;
  font-size: 28px;
}
.about_icon_box {
  margin: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 20px;
}
.about_icon {
  font-size: 50px;
}
// ここからデザイン
h2 {
  position: relative;
  padding: 0 65px;
  text-align: center;
}
h2:before {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  background: #d4d3de;
}
h2 span {
  position: relative;
  padding: 0 1em;
  background: #2d2c38;
}
h4 {
  position: relative;
  padding: 1.5rem;
  text-align: center;
}

h4:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #deda6a;
}

.bg_base {
  background-color:#2d2c38;
}
.text_base {
  color: #d4d3de;
  text-decoration: none;
}
.btn_base {
  position: relative;
  text-decoration: none;
  transition: .15s ease-out;
  -webkit-transform: translateZ(0);
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 3rem;
  padding: 1.2rem 5rem 1.2rem 3rem;
  // color: inherit;
  text-align: center;
  line-height: 1;
  box-shadow: 0 2px 0 #614f38;
  text-decoration: none;
  background-color: #5a4eb4;
  // arrow
  &:before,
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
  }
  &:before {
    right: 2rem;
    width: .7rem;
    height: 1px;
    background: #614f38;
  }
  &:after {
    right: 20px;
    width: 6px;
    height: 6px;
    border-top: 1px solid #614f38;
    border-right: 1px solid #614f38;
    transform: rotate(45deg);
  }
  &:hover {
    color:#fff;
    background-color: #22202f;
    transform: translateY(2px);
    box-shadow: 0 0 0 rgba(245, 209, 0, 0.75);
    opacity: 1;
    &:before {
      background-color: #fff;
    }
    &:after {
      border-color: #fff;
    }
  }
}
.nav-item {
  font-family: 'Noto Sans JP', sans-serif;
}
.response {
  padding-right: 10px;
}
.top_rank {
  margin-left: 300px;
}
.rank_img_box {
  width: 320px;
  height: 200px;
}
.rank_img {
  display: block;
  width: 320px;
  height: 200px;
}
.rank_title {
  margin: 0;
  // padding: 0 20px 20px;
  font-size: 14px;
}
.user_pic_box {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 100px;
  margin-left: 60px;
}
.mypage_user_pic_box {
  margin-left: 150px;
}
.user_pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.user_index_pic_box {
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  border-radius: 60px;
}
.user_index_pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  transition: all 0.6s ease 0s;
}
.user_hover:hover {
  text-decoration: none;
  background-color: #22202f;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 20px;
}
.user_info {
  text-decoration: none;
}
.user_btn {
  width: 235px;
}
.mypage_list:hover {
  // background-color: #2d2c38;
  // box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-decoration: none;
  background-color: #22202f;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 20px;
}
hr {
  border: none;
	border-top: solid 1px #d4d3de;
}
.list_detail {
  text-decoration: none;
  background-color: #22202f;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 20px;
}
/* ページネーション */
.pagination {
  display: flex;
  justify-content: center;
}
.pagination > li > a {
  border: none;
  color: #d4d3de;
}
.pagination > li > a:hover {
  color: #5a4eb4;
  background-color: white;
}
.pagination > .active > a {
  color: #5a4eb4;
  background-color: white;
}
.pagination > .active > a:hover {
  background-color: white;
  color: #5a4eb4;
}
/* --ページネーション */
// ページトップ
/*リンクの形状*/
#page-top a{
  display: flex;
  justify-content:center;
  align-items:center;
  background:#942D2F;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size:0.6rem;
  transition:all 0.3s;
}

#page-top a:hover{
  background: #777;
}
/*リンクを右下に固定*/
#page-top {
  position: fixed;
  right: 10px;
  bottom:10px;
  z-index: 2;
    /*はじめは非表示*/
  opacity: 0;
  transform: translateY(100px);
}

/*　上に上がる動き　*/

#page-top.UpMove{
  animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }
  to {
    opacity: 1;
  transform: translateY(0);
  }
}

/*　下に下がる動き　*/

#page-top.DownMove{
  animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
    opacity: 1;
  transform: translateY(0);
  }
  to {
    opacity: 1;
  transform: translateY(100px);
  }
}

#footer{
  position: relative;
  z-index: 2;
}
// ここまでページトップ

// ハンバーガーメニュー
/* ---- ハンバーガーアイコン ---- */
#hm-icon {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 21;
  background-color: rgba(0, 0, 0, 0.25);
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 20px;
}
.menu-trigger span:nth-child(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #fff;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: #fff;
}
/* ------ spメニュー ------ */
#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 21;
}
#sp-menu li {
  text-align: center;
  margin-bottom: 30px;
}
#sp-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.menu_item {
  list-style: none;
}

// レスポンシブ対応
@media screen and (max-width: 600px) {
	.split-box {
		position: relative;
		width: 100%;
		height: auto;
	}
}
@media screen and (max-width: 480px) {
  .logo_top {
  left: 30%;
  }
}