/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
//いいねの赤いハート
.heart_red{color:#e54747;}
//いいねしていない状態
.heart_none{color:#808080;}
//お気に入り済
.bookmark_done{color:#444;}
//お気に入りしていない状態
.bookmark_notyet{color:#808080;}
// スライドショーのため
#testbox{
  height: 550px;
  backgroung-position: center;
}
.testimage1 {
  background-image: image-url("pexels-adrien-olichon-3709370.jpg");
}
.testimage2 {
  background-image: image-url("pexels-andrea-piacquadio-3811814.jpg");
}
.testimage3 {
  background-image: image-url("pexels-andrea-piacquadio-3811851.jpg");
}
// ここからデザイン
.bg_base {
  background-color:#2d2c38;
}
.text_base {
  color: #d4d3de;
  text-decoration: none;
}
.btn_base {
  position: relative;
  text-decoration: none;
  transition: .15s ease-out;
  -webkit-transform: translateZ(0);
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 3rem;
  padding: 1.2rem 5rem 1.2rem 3rem;
  // color: inherit;
  text-align: center;
  line-height: 1;
  box-shadow: 0 2px 0 #614f38;
  text-decoration: none;
  background-color: #5a4eb4;
  // arrow
  &:before,
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
  }
  &:before {
    right: 2rem;
    width: .7rem;
    height: 1px;
    background: #614f38;
  }
  &:after {
    right: 20px;
    width: 6px;
    height: 6px;
    border-top: 1px solid #614f38;
    border-right: 1px solid #614f38;
    transform: rotate(45deg);
  }
  &:hover {
    color:#fff;
    background-color: #22202f;
    transform: translateY(2px);
    box-shadow: 0 0 0 rgba(245, 209, 0, 0.75);
    opacity: 1;
    &:before {
      background-color: #fff;
    }
    &:after {
      border-color: #fff;
    }
  }
}
.response {
  padding-right: 10px;
}
.rank {
  display: block;
  text-decoration: none;
  background-color: #22202f;
  transition: 0.2s;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.rank:hover {
  background-color: #2d2c38;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.rank_box {
  display: flex;
  float: left;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px auto;
  // width: 400px;
  list-style: none;
}
.rank_img_box {
  width: 320px;
  height: 200px;
}
.rank_img {
  display: block;
  width: 320px;
  height: 200px;
}
.rank_title {
  margin: 0;
  // padding: 0 20px 20px;
  font-size: 14px;
}
.user_pic_box {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 100px;
}
.user_pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.user_index_pic_box {
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  border-radius: 100px;
}
.user_index_pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  transition: all 0.6s ease 0s;
}
// .user_index_pic_box:hover {
//   width: 65px;
//   height: 65px;
//   position: relative;
//   overflow: hidden;
//   border-radius: 100px;
// }
.user_hover:hover {
  background-color: #22202f;
}